@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: rgb(70, 70, 70);
}

header {
    text-align: center;
    padding: 1rem;
    background-color:#cf9800;
}

fieldset {
    background-color:#1a1919;
    border: 3px solid #cf9800;
    border-radius: 3rem;
    padding: 2rem;
    margin: 3rem auto;
}

main {
    border: 3px solid #cf9800;
    border-radius: 3rem;
    margin-bottom: 1.4rem;
}

footer {
    background-color: #aaa9a8;
    text-align: center;
    align-items: center;
    border: 4px solid #cf9800;
    border-radius: 1rem;
    margin: 10px auto;
    padding: 1rem;
    height: 220px
}

input[type="text"] {
    background-color: #f5f2f2;
    outline: none;
    border: 2px solid #cf9800;
    border-radius: 3rem;
    padding-left: 12px;
    font-size: 16px;
    width: 94%
}

button {
    border-color:#c5a54e;
    background-color: #e4c778;
    width: 60px;
    height: 40px;
    margin: 0.1rem;
    border-radius: 0.4rem;
}

#btn0 {
    margin-left: 68px;
}

#btnMult {
    margin-left: 68px;
}

#btnEquals {
    margin-left: 68px;
}

#btnClear {
    margin-left: 68px;
}